{% extends 'base.html.twig' %}

{% block title %}Banconle's home page!{% endblock %}

{% block body %}

<style>
body{
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<center><div class="example-wrapper">
    <h1>Bienvenue sur la home page de Banconlé ✅</h1><br>
    <h2>Je suis déterminé à intégrer Magic Recycle</h2><br><br>
    <h3>Let's go!!! Merci beaucoup Monsieur Tamby et Monsieur Jean François</h3>


</div>
</center>
{% endblock %}
